@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
body{
    background: #F3F5FC;
    overflow-y: hidden;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 40px;
    padding: 35px 50px;
}
.titulo{
    font-family: 'Cutive Mono', monospace;
    font-size: 35px;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.intro-texto{
    width: 50%;
    height: 60vh;
}
#input-texto{
    background: transparent;
    border: none;
    resize: none;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #0A3871;
    height: 80%;
}
#input-texto::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #0A3871;
    font-size: 32px;
}
#input-texto:focus{
    outline: none;
}
.sal-texto{
    width: 20%;
    height: 55vh;
    margin-left: 5%;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 2%;
}
.imagen-buscar{
    width: 100%;
    height: auto;
}
.no-texto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.titulo-buscar{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.subtitulo-buscar{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}
#info{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 10px;
    margin: 10px;
}
#resultado{
    position: absolute;
    overflow-y: auto;
    width: 21%;
    height: 415px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    display: none;
    word-break: break-word;
}

#copiar{
    display: none;
}
.botones-sal{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.botones-input{
    display: flex;
    justify-content: space-around;
    width: 100%px;
}
.botones-sal{
    width: 100%;
}
.boton-azul{
    width: 250px;
    height: 60px;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: white;
    transition: background 0.5s;
}
.copiar-boton{
    width: 90%;
}
.boton-azul:active{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}
.boton-gris{
    width: 250px;
    height: 60px;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #0A3871;
    transition: background 0.5s;
}
.boton-gris:active{
    background: #0A3871;
    border: 1px solid #0A3871;
    color: white;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

footer{
    width: 100%;
    height: 11%;
    padding-top: 2%;
    background: #0A3871;
    position: fixed;
    bottom: -10px;
    color: #F3F5FC;
}
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.redes {
    padding-top: 1%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes a{
    text-decoration: none;
    color: #F3F5FC;
    font-size: 18px;
}

.redes img{
    width: 25px;
}

.github, .linkedin{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    transition: filter 1s;
}
.github:hover, .linkedin:hover{
    filter: drop-shadow(0 0 0.3rem rgb(255, 93, 252));
    text-decoration: underline wavy white;
}
.github img, .linkedin img{
    padding-left: 15%;
    padding-right: 15%;
}

@media screen and (max-width:1023px){
    body{
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y:auto;
    }
    main{
        width: 90%;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .intro-texto{
        width: 80%;
        height: auto;
        padding-bottom: 20px;
    }
    .botones-input{
        width: auto;
        align-content: center;
    }
    .sal-texto{
        width: 80%;
        height: 30vh;
        padding: 5%;
        margin-bottom: 200px;
    }
    .boton-azul{
        margin-bottom: 20px;
    }
    .boton-azul, .boton-gris{
        width: 100%;
    }
    #input-texto{
        width: 100%;
    }
    #resultado{
        width: 74%;
        height: 21%;
        overflow-y: auto;
    }
    .imagen-buscar{
        display: none;
    }
    .botones-input{
        width: 100%;
        justify-content: center;
        align-content: space-between;
    }
    .boton-azul,.boton-gris{
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media screen and (max-width:540px){
    
    html{
        overflow-x:hidden;
        width: 100vw;
        height: auto;
    }
    header{
        text-align: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .titulo{
        font-size: 25px;
        padding-left: 2%;
        padding-right: 2%;
    }
    body{
        overflow-x:hidden;
    }
    footer{
        width: 100vw;
    }
    .sal-texto{
        height: 50vh;
        margin-bottom: 150px;
    }
    #resultado {
        height: 36%;
        overflow-y: auto;
    }
    .botones-input{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-content: space-between;
    }
}