@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
body{
    background: #F3F5FC;
    overflow-y: hidden;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 40px;
    padding: 35px 50px;
}
.titulo{
    font-family: 'Cutive Mono', monospace;
    font-size: 35px;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.intro-texto{
    width: 50%;
    height: 70vh;
}
#input-texto{
    background: transparent;
    border: none;
    resize: none;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #0A3871;
    height: 80%;
}
#input-texto::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #0A3871;
    font-size: 32px;
}
#input-texto:focus{
    outline: none;
}
.sal-texto{
    width: 20%;
    height: 60vh;
    margin-left: 5%;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 2%;
}
.imagen-buscar{
    width: 100%;
    height: auto;
}
.no-texto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.titulo-buscar{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.subtitulo-buscar{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}
#info{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 10px;
    margin: 10px;
}
#resultado{
    position: absolute;
    overflow-y: auto;
    width: 21%;
    height: 415px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    display: none;
}
.seleccionar{
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
}
#copiar{
    display: none;
}
.botones-sal{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.botones-input{
    display: flex;
    justify-content: space-around;
    width: 100%px;
}
.botones-sal{
    width: 100%;
}
.boton-azul{
    width: 250px;
    height: 60px;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: white;
}

.boton-gris{
    width: 250px;
    height: 60px;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #0A3871;
}
footer{
    width: 100%;
    height: 13%;
    background: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 101% 101%;
    filter: drop-shadow(0 0 0.75rem black);
    position: absolute;
    bottom: 0;
}

.redes {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

.redes a{
    text-decoration: none;
    color: #F3F5FC;
}

.redes img{
    width: 25px;
}
